/.cache/
/.org-id-locations
/.smex-items
/ac-comphist.dat
/auto-save-list/
/bookmarks
/elpa/
/eshell/
/games/
/kkcrc
/lisp/init-clipboard.el
/lisp/init-yatex.el
/org-roam.db
/pyim/
/recentf
/request/
/transient/
/url/